<!DOCTYPE html>
<html>
	<head>
		<title>hello</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script>

		
	</head>

	<body ng-app="myLog" ng-controller="myCntr">

		<h1>Welcome</h1>

		<div>		
			<br><input type="submit" ng-click="logout()" value="Logout">		
		</div>


		<div>
			<table style="margin:0 auto">
				<tr>
					<th>post</th>					
				</tr>
				<tr ng-repeat="y in posts track by $index">
				
				 	<td >
				 		{{y.postBody}}
				 		<span ng-click="removePost(y._id, $index)">&times;</span>
				 	</td>

				</tr>
			</table>
		</div>

		<div>
    		<form>
    			<input type="textarea" ng-model="postBody" placeholder="Enter your post here">
    			<input type="submit" ng-click="postbody()" value="post">
    		</form>
    		
		</div>
   
	</body>
</html>