<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">India Trip!</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a class="active" ng-href="#/indiaTrip!">IndiaTrip! </a></li>
			<li><a ng-href="#/destination">Destination</a></li>
			<li><a ng-href="#/searchHotel">Search Hotel </a></li>
			<li><a ng-href="#/signIn">Sign In</a></li>
			<li><a ng-href="#/signUp">Sign Up </a></li>
			<li><a ng-href="#/aboutUs">About Us</a></li>
		</ul>	
	</div>	
	<div ng-show="home.home.$touched">Home Page</div>
</nav>