<section>
	<form role="form" name="signInForm" ng-submit="signIn()" novalidate>
		<fieldset>
			<div class="form-group">
				<label for="email" class="label label-default">Email ID</label>
				<input class="form-control" type="email" name="email" placeholder="Email ID" ng-model="emailID" ng-required="true">
				<p ng-show="signInForm.email.$touched"> must be a valid email</p>
			</div>
			<div class="form-group">
				<label for="password" class="label label-default">Password</label>	
				<input class="form-control" type="password" name="password" placeholder="Password" ng-model="password" ng-required="true">
				<p ng-show="signInForm.password.$invalid && signInForm.password.$touched"> must be a valid password</p>
			</div>	
			<button type="submit" class="btn btn-default" ng-disabled="signInForm.$invalid">Sign In</button>
			<P><a class="btn btn-default" ng-href="#/signUp">Sign Up</a></P>
		</fieldset>
	</form>
	<div ng-show="response1">{{response1}}</div>
</section>
